body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    font-weight: normal;
    font-size: 50px;
    color: white;
    
}
.link {
    font-size: 16px;
    color: aquamarine;
}

.header--secondary {
    font-weight: normal;
    font-size: 45px;
    color: white;

}

.sub-header {
    font-size: 21px;
    color:gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}